@import "../../App.scss";

.leftBar{
    @include themify($themes) {
        flex: 2;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;
        // background-color: white;
        // color: #000;
        background-color: themed("bg");
        color: themed("textColor");

        &::-webkit-scrollbar {
            display: none;
        }

        &__container{
            padding: 20px;

            hr{
                margin: 20px 0px;
                border: none;
                height: 0.5px;
                // background-color: lightgray;
                background-color: themed("border");
            }

            &__menu{
                display: flex;
                flex-direction: column;
                gap: 20px;

                &__item{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    &__imageItem{
                        width: 30px;
                    }

                    &__nameItem{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}