.register{
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    &__card{
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;

        &__left{
            flex: 1;
            background: 
                linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
                url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
                center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            &__title{
                font-size: 60px;
                line-height: 80px;
            }

            &__span{
                font-size: 14px;
            }

            &__loginBtn{
                width: 50%;
                padding: 10px;
                border: none;
                border-radius: 10px;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }

        &__right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            &__title{
                color: #555;
            }

            &__form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                &__input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }

                &__registerBtn{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    border-radius: 10px;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}